In [1]:
import pandas as pd
import numpy as np

In [2]:
# read csv's
pp_data = pd.read_csv("global_power_plant_database.csv")
cc_data = pd.read_csv("OECD_Consumption.csv")

In [3]:
# find the the counties in powerplan data base 
y = pp_data["country"].unique()
#find the countries in consumption data base 
x = cc_data["LOCATION"].unique()
#find the countries in both databases.
countries_l =[]
for county in y:
    if county in x:
        countries_l.append(county)
f_country = []
for country in countries_l:
    if pp_data.loc[pp_data.country == country ,"country"].count() >100:
        f_country.append(country)

#create data frames containing only the countries in both data frames
pp_data_clean = pp_data.loc[pp_data['country'].isin(f_country)]
cc_data_clean = cc_data.loc[cc_data['LOCATION'].isin(f_country)]
#make a list of the columns we need in powerplant data base 
columnns_l = ["country","country_long","name","capacity_mw","latitude","longitude","primary_fuel","estimated_generation_gwh"]

In [8]:
pp_data_clean = pp_data_clean[columnns_l]

In [9]:
pp_data_clean.dropna()

,country,country_long,name,capacity_mw,latitude,longitude,primary_fuel,estimated_generation_gwh
63,ARG,Argentina,AGUA DEL CAJON (AUTOGENERADOR DEL MEM),479.2,-38.9368,-68.3556,Other,0.000000
64,ARG,Argentina,AGUA DEL CAJON (GENERADOR DEL MEM),192.0,-38.9368,-68.3556,Gas,991.928746
65,ARG,Argentina,AGUA DEL TORO,130.0,-34.5792,-68.9892,Hydro,537.539589
66,ARG,Argentina,ALICURA,1050.0,-40.5800,-70.7489,Hydro,4341.665908
67,ARG,Argentina,ALMIRANTE BROWN,25.0,-34.8386,-58.4033,Oil,407.324673
...,...,...,...,...,...,...,...,...
29881,VNM,Vietnam,Vinh Tan 2,1244.0,11.3170,108.8100,Coal,3043.990938
29882,VNM,Vietnam,Vung Ang I,1245.0,18.0979,106.3800,Coal,3046.437876
29883,VNM,Vietnam,Xim Vang 2,6.6,21.3412,104.3498,Hydro,23.067960
29884,VNM,Vietnam,Yan-Tann-Sien,19.5,12.1526,108.3787,Hydro,68.155335
29885,VNM,Vietnam,ZaHung,30.0,15.8600,107.6538,Hydro,104.854362

In [10]:
pp_data_clean["primary_fuel"].value_counts()

Hydro             6414
Solar             5829
Wind              4936
Gas               3254
Coal              2171
Oil               1907
Biomass           1345
Waste             1067
Nuclear            177
Geothermal         144
Storage             58
Other               43
Cogeneration        41
Petcoke             13
Wave and Tidal      10
Name: primary_fuel, dtype: int64

In [ ]:
pp_data_clean2.to_csv('power_plants_filtered.csv')

In [ ]:
pp_data_clean2["primary_fuel"].value_counts()