In [1]:
import pandas as pd
import numpy as np

In [4]:
# read csv's
pp_data = pd.read_csv("global_power_plant_database.csv")
cc_data = pd.read_csv("OECD_Consumption.csv")

In [45]:
#find the the counties in powerplan data base 
y = pp_data["country"].unique()
#find the countries in consumption data base 
x = cc_data["LOCATION"].unique()
#find the countries in both databases.
countries_l =[]
for county in y:
    if county in x:
        countries_l.append(county)
#create data frames containing only the countries in both data frames
pp_data_clean = pp_data.loc[pp_data['country'].isin(countries_l)]
cc_data_clean = cc_data.loc[cc_data['LOCATION'].isin(countries_l)]
#make a list of the columns we need in powerplant data base 
columnns_l = ["country","country_long","name","capacity_mw","latitude","longitude","primary_fuel","estimated_generation_gwh"]

In [46]:
#selectthe columns needed for powerplants 
pp_data_clean1 = pp_data_clean[columnns_l]

In [42]:
cc_data_clean = cc_data.loc[cc_data['LOCATION'].isin(countries_l)]

In [63]:
pp_data_clean1

,country,country_long,name,capacity_mw,latitude,longitude,primary_fuel,estimated_generation_gwh
7,ALB,Albania,Bistrica 1,27.0,39.9116,20.1047,Hydro,89.132075
8,ALB,Albania,Fierza,500.0,42.2514,20.0431,Hydro,1650.593990
9,ALB,Albania,Koman,600.0,42.1033,19.8224,Hydro,1980.712788
10,ALB,Albania,Lanabregas,5.0,41.3428,19.8964,Hydro,16.505940
11,ALB,Albania,Shkopet,24.0,41.6796,19.8305,Hydro,79.228512
...,...,...,...,...,...,...,...,...
29905,ZMB,Zambia,Ndola,50.0,-12.9667,28.6333,Oil,120.872642
29906,ZMB,Zambia,Nkana,20.0,-12.8167,28.2000,Oil,48.349057
29907,ZMB,Zambia,Victoria Falls,108.0,-17.9167,25.8500,Hydro,702.100000
29908,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.0,-18.3835,26.4700,Coal,4397.000000
29909,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.0,-16.5222,28.7619,Hydro,5431.000000